.shop__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: calc(100vw * 0.03125);
    line-height: calc(100vw * 0.04375);
    padding: 88px 97px 32px;
    max-width: 585px;
    min-height: 112px;
}